* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', serif;
}

.container {
    display: flex;
    justify-content: center;
}

.page {
    width: 70%;
    margin-top: 16px;
}

.page__title {
    margin-bottom: 16px;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.input__label {
    margin-bottom: 8px;
    display: block;
    font-size: 20px;
}

.input__text {
    width: 100%;
    padding: 8px;
    display: block;
    border-radius: 4px;
    resize: vertical;
}

.search__label {
    margin-bottom: 8px;
    display: block;
    font-size: 20px;
}

.search__bar {
    width: 100%;
    padding: 8px;
    display: block;
    border: 1px solid gray;
    border-radius: 4px;
}

.process {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.process__btn {
    padding: 4px 8px;
    margin-right: 16px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
}

.process__btn:hover {
    cursor: pointer;
}

.process__icon {
    width: 32px;
    height: 32px;
}

.process__icon--spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.process__icon--hidden {
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}